---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";import Footer from "../components/Footer.astro";
const pageTitle = "About Me";
const identity = {
  firstName: "Jessica",
  country: "the U.S.",
  occupation: "Student",
  hobbies: ["running", "watching anime", "cooking"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Python", "Java"];
const finished = true;
const goal = 3;

const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <style
      define:vars={{ fontWeight, textCase }}
    >
      .skill {
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
        font-weight: bold;
      }
    </style>
  <h2>... and my new Astro site!</h2>

  <p>
    I am working through Astro's introductory tutorial. This is the second page
    on my website, and it's the first one I built myself!
  </p>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I am a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  {
    (goal === 3 && !finished) ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>I finished this tutorial!</p>
    )
  }</BaseLayout
>
